<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ratna controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <div class="disconnect">
        <a href="{{ url_for('auth.logout') }}">Disconnect</a>
    </div>
    <header>
        <h1>RATNA02</h1>
    </header>
    <div class="container">
        <div class='camera'>
            <h3>CAMERA</h3>
            <img src="{{ url_for('home.video_feed') }}">
        </div>
        <div class="controller">
            <h3>CONTROLLER</h3>
            <form method="post">
                <input type="image" name="upleft-btn" class="btn corner"
                    src="{{ url_for('static', filename='icon/upleft-btn.svg') }}" />
                <input type="image" name="up-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/up-btn.svg') }}" />
                <input type="image" name="upright-btn" class="btn corner"
                    src="{{ url_for('static', filename='icon/upright-btn.svg') }}" />
                <p></p>
                <input type="image" name="turnleft-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/turnleft-btn.svg') }}" />
                <input type="image" name="left-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/left-btn.svg') }}" />
                <input type="image" name="stop-btn" class="btn corner"
                    src="{{ url_for('static', filename='icon/stop-btn.svg') }}" />
                <input type="image" name="right-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/right-btn.svg') }}" />
                <input type="image" name="turnright-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/turnright-btn.svg') }}" />
                <p></p>
                <input type="image" name="downleft-btn" class="btn corner"
                    src="{{ url_for('static', filename='icon/downleft-btn.svg') }}" />
                <input type="image" name="down-btn" class="btn side"
                    src="{{ url_for('static', filename='icon/down-btn.svg') }}" />
                <input type="image" name="downright-btn" class="btn corner"
                    src="{{ url_for('static', filename='icon/downright-btn.svg') }}" />
            </form>
        </div>
    </div>
</body>

</html>