<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ratna controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <div class="disconnect">
        <a href="{{ url_for('home.logout') }}">Disconnect</a>
    </div>
    <header>
        <h1>RATNA02</h1>
    </header>
    <div class="container">
        <div class='camera'>
            <h3>CAMERA</h3>
            <img src="{{ url_for('home.video_feed') }}">
        </div>
        <div class="controller">
            <h3>CONTROLLER</h3>
            <form method="post">
                <button type="button" value="upleft" onclick="button_click(this);">
                    <img class="btn corner" src="{{ url_for('static', filename='icon/upleft-btn.svg') }}">
                </button>
                <button type="button" value="up" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/up-btn.svg') }}">
                </button>
                <button type="button" value="upright" onclick="button_click(this);">
                    <img class="btn corner" src="{{ url_for('static', filename='icon/upright-btn.svg') }}">
                </button>
                <p></p>
                <button type="button" value="turnleft" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/turnleft-btn.svg') }}">
                </button>
                <button type="button" value="left" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/left-btn.svg') }}">
                </button>
                <button type="button" value="stop" onclick="button_click(this);">
                    <img class="btn corner" src="{{ url_for('static', filename='icon/stop-btn.svg') }}">
                </button>
                <button type="button" value="right" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/right-btn.svg') }}">
                </button>
                <button type="button" value="turnright" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/turnright-btn.svg') }}">
                </button>
                <p></p>
                <button type="button" value="downleft" onclick="button_click(this);">
                    <img class="btn corner" src="{{ url_for('static', filename='icon/downleft-btn.svg') }}">
                </button>
                <button type="button" value="down" onclick="button_click(this);">
                    <img class="btn side" src="{{ url_for('static', filename='icon/down-btn.svg') }}">
                </button>
                <button type="button" value="downright" onclick="button_click(this);">
                    <img class="btn corner" src="{{ url_for('static', filename='icon/downright-btn.svg') }}">
                </button>
            </form>
            <div id="result"></div>
        </div>
    </div>
    <div id="result"></div>
    <script type="text/javascript">
        function button_click(element) {
            var req = new XMLHttpRequest();
            var result = document.getElementById('result');
            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    result.innerHTML = this.responseText;
                } else {
                    result.innerHTML = "loading...";
                }
            }

            req.open('POST', '/home/', true);
            req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            req.send("value=" + element.value);
        }
    </script>
</body>

</html>