<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ratna controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <div class="ratna-logo">
        <h1>RATNA02</h1>
    </div>
    <div class="password-wrapper">
        <h3>Password</h3>
        <div class="password-form">
            <form method="post">
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Login">
            </form>
        </div>

</body>

</html>